@{
    ViewData["Title"] = "Vigenere fans' choice!";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the world of cryptography</p>
    <a class="btn btn-outline-dark" 
            asp-area="" 
            asp-controller="Encrypt"
            asp-action="LoadFileForm">Start journey!</a>
</div>
