@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>It's just a small app created to help people to protect their data!</p>
<p>Thus we do NOT collect any data about users.</p>
<p>We do NOT use cookies, because 
    this technology is an invention of cookie manufacturers aimed 
    at total advertising of products containing palm oil.</p>
<p></p>
